/* Styles for CurrentWeather Component */
.current-weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primarycolor);
    border-radius: 0.5rem;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.current-weather-container img {
    width: 100px;
    height: 100px;
}

.current-weather-container h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: black;
}

.current-weather-container p {
    margin: 5px 0;
    font-size: 16px;
    color: black;
}

.current-weather-container p:first-child {
    font-weight: bold;
}

@media screen and (max-width: 430px) {
    .current-weather-container {
        padding: 15px;
        max-width: 100%;
    }

    .current-weather-container img {
        width: 80px;
        height: 80px;
    }

    .current-weather-container h2 {
        font-size: 20px;
    }

    .current-weather-container p {
        font-size: 14px;
    }
}
